*.pyc
*.json
*.sqlite3
*.DS_Store
*.egg*
/dist/
/.idea
.vscode
/docs/_build/
/node_modules/
build/
env
env_linux

#src
*.sqlite*

credentials/
logs/
.env
node_modules
media
vo_bot_db
db_backup/
yarn.lock

tasks_logs/
#media/

apps/common/management
apps/helpers

#/media/
!/media/mapper.json
!/media/Sales.csv